@model IEnumerable<QuanLy_DaiHoc.Models.LopSinhVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLopTinChiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLopTinChiNavigation.IdLopTinChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSinhVienNavigation.IdNguoiDung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLopSinhVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLopSinhVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLopSinhVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
